@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input:-webkit-autofill { -webkit-box-shadow: 0 0 0 0 #fff inset ; -webkit-text-fill-color: rgb(107, 108, 119); }
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }


body {
    margin: 0;
    padding: 0;
}

.info_1_section {
    width: 100%;
    max-width: 1100px;
    margin-left: 50%;
    margin-top: 150px;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

.ifo_title_h1{
    font-family: 'PSemiBold';
    font-size: 24px;
    color: #4B4F55;

}

.flex_sub_title {
    display: flex;
    gap: 5px;
}

.product_infomation_main_title {
    font-family: 'PLight';
    font-size: 17px;
    color: #C5C7C9;
    margin-top: -5px;
    margin-bottom: 13px;
}
.product_infomation_main_title.info {
    margin-top: -3px;
}


.product_infomation_main_title.end {
    margin-bottom: 17px;
}

.product_infomation {
    margin-top: 17px;
    padding: 20px;
    border: 1px solid #E7EBF0;
    border-radius: 13px;
    margin-bottom: 19px;
    width: 100%;
}


.info_text {
    margin-top: -1px;
    font-family: 'PLight';
    font-size: 15px;
    color: #94989c;
    line-height: 22px;
    margin-bottom: -3px;
    word-break: keep-all;
}

.product_infomation.right {
    position: sticky;
    top: 170px;
    margin-bottom: 0;
}


.product_infomation.end {
    margin-bottom: 0;
}

.product_image {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

.flexx {
    display: flex;
    gap: 55px;
    justify-content: space-between;
    box-sizing: border-box;
}

.section_one {
    width: 65%;
}

.section_two {
    width: 35%;
}



.flex {
    display: flex;
    gap: 16px;
}

.product_title{
    font-family: 'PMedium';
    font-size: 20px;
    color: #4B4F55;
}

.product_sub_title {
    font-family: 'PLight';
    font-size: 15px;
    color: #A0A5AB;
    margin-top: 5px;
}

.amount_Flex {
    margin-top: 10px;
    display: flex;
    align-items: end;
    gap: 2px;
}

.amount_Flex.end {
    margin-top: 0;
}

.product_price {
    font-family: 'PMedium';
    font-size: 20px;
    color: #4B4F55;
    letter-spacing: -0.5px;
}

.won{
    font-family: 'PRegular';
    font-size: 16px;
    color: #4B4F55;
}

.won.end{
    font-family: 'PMedium';
    font-size: 18px;
    color: #4B4F55;
}


.sub_title {
    font-family: 'PLight';
    font-size: 15px;
    color: #888D95;
    margin-left: 3px;
    transition: color 0.3s ease;
}

.required {
    color: #ED6A6C;
    margin-right: 3px;
}

.input_one_section {
    margin-top: -6px;
    outline: none;
    background-color:transparent;
    border-color: #eeeeee;
    border-width:1px;
    border-style: solid;
    border-radius: 10px;
    padding: 18px 16px;
    font-family: 'PLight';
    font-size: 16px;
    color: #4B4F55;
    width: 100%;
    box-sizing: border-box;
    cursor: text;
    transition: border-color 0.3s ease;
    text-align: left;
    margin-bottom: 30px;
}

.input_one_section::placeholder {
    color: #e0e2e9;
    font-family: 'PLight';
}


.input_one_section:focus {
    border-color: #547cff;
}

.flex_input:focus-within .sub_title {
    color: rgb(84, 124, 255);
}

.input_error {
    border-color: rgb(243, 166, 166) !important;
}

.error {
    font-family: 'PLight';
    font-size: 14px;
    color: #f17070;
    margin-left: 3px;
    margin-top: -20px;
}

.flex_input.space {
    margin-bottom: 26px;
}

.flex_input {
    margin-bottom: -25px;
}

#payment-method {
    margin-bottom: -7px;
    margin-top: 5px;
}

.flex_coupon {
    display: flex;
    gap: 7px;
}

.input_one_section.coupon {
    width: 75%;
}

.verify_button  {
    width: 25%;
    outline: none;
    border: none;
    background-color:#ECF5FF;
    border-radius: 10px;
    font-family: 'PLight';
    font-size: 16px;
    color: #3485FF;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: -6px;
    transition: background-color 0.3s ease,
    color 0.3s ease;
}
.flex_inputt:has(.coupon:focus) .sub_title {
    color: rgb(84, 124, 255);
}


.flex_inputt {
    margin-top: -10px;
}

.verify_button:hover {
    background-color:#dcecff;
}

.verify_button.end  {
    outline: none;
    border: none;
    background-color:#ECF5FF;
    border-radius: 10px;
    font-family: 'PLight';
    font-size: 16px;
    color: #3485FF;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0;
    transition: background-color 0.3s ease,
    color 0.3s ease;

    padding: 18px 16px;
    width: 100%;
}

.verify_button.end:hover {
    background-color:#dcecff;
}


.verify_button.end svg {
    margin-left: 5px;
}


.product_price_infomation_price_section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.product_price_infomation_price_section.end {
    margin-bottom: 40px;
}

.line {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #E7EBF0;
    outline: none;
}


.product_price_sub_title {
    font-family: 'PLight';
    font-size: 16px;
    color: #A0A5AB;
}
.product_price_sub_price {
    font-family: 'PLight';
    font-size: 17px;
    color: #747980;
}

.product_but_title {
    font-family: 'PRegular';
    font-size: 18px;
    color: #747980;
}

.product_but_price {
    font-family: 'PSemiBold';
    font-size: 20px;
    color: #4B4F55;
}


#agreement {
    margin-bottom: 14px;
}


.error_title {
    color: #f17070!important;
}

.input_error {
    border-color: rgb(243, 166, 166) !important;
}