@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0;
    padding: 0;
}

.info_1_section {
    width: 1160px;
    margin-left: 50%;
    transform: translate(-50%, 25vh);
}

.loader {
    margin-top: 130px;
    margin-bottom: 90px;
    margin-left: 48%;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #2c4bce;
    display: grid;
    animation: l22-0 50s infinite linear;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    transform: rotate(0deg) translate(150%);
    animation: l22 1.5s infinite;
  }
  .loader:after {
    animation-delay: 0.7s
  }
  @keyframes l22-0 {
    100% {transform: rotate(1turn)}
  }
  @keyframes l22 {
    100% {transform: rotate(1turn) translate(150%)}
  }

.h1 {
    font-size: 35px;
    color: #37404B;
    font-family: 'PSemiBold';
    text-align: center;
    margin-top: 20px;
    letter-spacing: -1px;
}

.p {
    font-size: 22px;
    color: #b9bcc0;
    font-family: 'PRegular';
    text-align: center;
    margin-top: 15px;
    letter-spacing: 0px;
    line-height: 29px
}