@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.sticky-buy {
    position: fixed;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    backdrop-filter: blur(8.5px);
    max-width: 500px;
    background: rgba(255, 255, 255, 0.822);
    border: 1.5px solid #EFEFEF;
    border-radius: 22px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: bottom 0.7s cubic-bezier(.29,.6,.21,.97);
    z-index: 1000;
}

.sticky-buy.show {
    bottom: 70px;
}

.sticky-left {
    display: flex;
    align-items: center;
}

.sticky-img {
    width: 70px;
    height: 70px;
    border-radius: 12px;
    margin-right: 15px;
    margin-left: -5px;
}

.sticky-info {
    display: flex;
    flex-direction: column;
}

.sticky-title {
    font-size: 17px;
    font-family: "PLight";
    color: #747980;
    margin-bottom: 5px;
}

.sticky-price {
    font-size: 23px;
    font-family: "PSemiBold";
    color: #4B4F55;
}

.sticky-btn {
    background-color: #3D8EF9;
    color: white;
    border: none;
    padding: 17px 45px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
    font-family: "PLight";
    transition: background-color 0.3s;
}



.sticky-btn:hover {
    background-color: #307fe7;
}











.info_1_section {
    margin-left: 50%;
    margin-top: 160px;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1000px;
}

.parent_img {
    position: relative;
    display: flex;
    aspect-ratio: 1 / 1;

    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.img_parent_box{
    position: absolute;
    background-color: #F8F8F8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 10px;
    
}

.product_image {
    position: relative;
    z-index: 1;
    width: 80%;
    height: auto;
    border-radius: 12px;
}



.flex_tag {
    display: flex;
    gap: 5px;
    margin-left: 7px;
    margin-bottom: 4.5px;
}

.product_discount {
    width: auto;
    height: 14.75px;
}

.product_tag {
    width: auto;
    height: 14.75px;
}

.product_res {
    width: auto;
    height: 14.75px;
}



.product_title {
    font-size: 28px;
    font-family: "PSemiBold";
    color: #4B4F55;
    margin-bottom: -1px;

    display: flex;
    align-items: end;
}

hr {
    border: 1px solid #F0F0F0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.flex_title {
    display: flex;
    align-items: end;
}

.love_product{
    margin-top: 13px;
    font-size: 14.75px;
    font-family: "PLight";
    margin-bottom: 22px;
    color: #C6CBCF;
}

.love_product svg{
    margin-bottom: 1px;
    margin-right: 1.5px;
}



.info_1_flex_1 {
    display: flex;
    justify-content: space-between;
    gap: 36px;
}

.info_1_flex_2 {
    width: 508px;
    display: flex;
    margin-bottom: -7px;
    justify-content: space-between;
}

.gray {
    font-size: 16.75px;
    font-family: "Plight";
    color: #A0A5AB;
}

.black {
    font-size: 16.75px;
    font-family: "Pregular";
    color: #747980;
}

.flex_won{
    transform: translateY(7px);
    display: flex;
    align-items: end;
}

.black.last {
    margin-bottom: 20px;
    margin-right: 2px;
    font-size: 25px;
    font-family: "PSemiBold";
    color: #747980;
}



.won {
    font-size: 20px;
    font-family: "Pregular";
    color: #8b8e92;
}

.info_1_flex_3 {
    width: 508px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.info_1_flex_3.last {
    margin-top: -10px;
    align-items: end;
    margin-bottom: 18px;
}

.product_image_info{
    width: 80%;
    max-width: 1000px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.buy_button {
    color: rgb(255, 255, 255);
    font-family: 'PRegular';
    font-size: 16px;
    padding: 17px 10px;
    background-color: #3D8EF9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.buy_button.not {
    background-color: rgb(196, 199, 201);
    cursor:not-allowed;
}


.info_2_flex_1 {
    display: flex;
    justify-content: space-between;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 140px;
    width: 176PX;
}

.info_2_section {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1000px;
}

.nof_title {
    
    font-size: 17.75px;
    font-family: "PMedium";
    margin-top: -2px;
    color: #6B6B6B;
}

.nof_sub{
    font-size: 15.75px;
    font-family: "PLight";
    text-align: center;
    margin-top: -2px;
    line-height: 25px;
    color: #b1b1b1;
}

.videoWrapper {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 80%;
    max-width: 1000px;
    margin: 10px auto 100px auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.videoWrapper iframe {
    width: 100%;
    height: 100%;
    border: none;
}



.table {
    width: 80%;
    max-width: 1000px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
    margin-bottom: 80px;
    word-break: keep-all;
}

.table td {
    padding-bottom: 30px;
    vertical-align: top;
    word-wrap: break-word;
}

.bold {
    font-size: 15.75px;
    font-family: "PRegular";
    color: #878b8f;
    line-height: 23px;
}

.light {
    font-size: 15.75px;
    font-family: "PLight";
    color: #959BA1;
    line-height: 23px;
}

.table td:first-child {
    padding-right: 25px;
    width: 140px;
}

.table td:last-child {
    width: 530px;
}


.bold_two{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1000px;
    font-size: 20px;
    font-family: "PSemiBold";
    margin-bottom: 35px;
    color: #6B6B6B;
}



@media screen and (max-width: 900px) {

    html,body {
        overflow-x: hidden;
    }
    * {
        box-sizing: border-box;
    }

    .info_1_flex_1 {
        display: inline-block;
    }

    .product_image{
        width: 100%;
        height: auto;
    }

    .info_1_product_info{
        margin-top: 30px;
    }

    .flex_tag{
        margin-bottom: 10px;
    }

    .nof_sub {
        word-break:keep-all
    }

    .info_1_flex_2 {
        width: 100%;
        justify-content: space-between;
    }

    .info_1_flex_3 {
        width: 100%;
        justify-content: space-between;
    }




    .sticky-title {
        font-size: 14px;
        font-family: "PLight";
        color: #747980;
        margin-bottom: 5px;
    }
    
    .sticky-price {
        font-size: 18px;
        font-family: "PSemiBold";
        color: #4B4F55;
    }
    
    .sticky-btn {
        background-color: #3D8EF9;
        color: white;
        border: none;
        padding: 15px 25px;
        border-radius: 12px;
        cursor: pointer;
        font-size: 15px;
        font-family: "PLight";
        transition: background-color 0.3s;
    }
    

}