@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.info_1_section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    margin-left: 50%;
    background-color: #FBFBFB;
    transform: translateX(-50%);
}

.Main_Image {
    width: 100px;
    height: auto;
    margin-left: 50%;
    opacity: 0;
    animation: img 1s cubic-bezier(.07, .73, .42, 1) forwards;
}

.ifo_title_h1 {
    font-size: 37px;
    font-family: 'PSemiBold';
    text-align: center;
    line-height: 50px;
    color: #37404B;
    opacity: 0;
    animation: titleAnimation 1s cubic-bezier(.07, .73, .42, 1) forwards;
    animation-delay: 0.3s;
}

.ifo_text_p {
    font-family: 'PLight';
    font-size: 25px;
    text-align: center;
    color: #A4A8AC;
    transform: translateY(240px);
    line-height: 38px;
    opacity: 0;
    animation: titleAnimation 1s cubic-bezier(.07, .73, .42, 1) forwards;
    animation-delay: 0.4s;
}

@keyframes img {
    0% { transform: translate(-50%, 35vh); opacity: 0; }
    100% { transform: translate(-50%, 30vh); opacity: 1; }
}


@keyframes titleAnimation {
    0% { transform: translateY(25vh); opacity: 0; }
    100% { transform: translateY(32vh); opacity: 1; }
}

@keyframes textAnimation {
    0% { transform: translateY(10vh); opacity: 0; }
    100% { transform: translateY(10vh); opacity: 1; }
}

.info_2_section {
    position: relative;
    overflow: hidden;
    height: 1083px;
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.info_2_section_img {
    width: 100px;
    height: auto;
    margin-left: 50%;
    transform: translate(-50%,0);
    margin-top: 160px;
    margin-bottom: 23px;
}

.ift_title_h1 {
    font-size:30px;
    font-family: 'PSemiBold';
    text-align: center;
    color: #525764;
    margin-bottom: -15px;
}

.ift_text_p {
    font-size:23px;
    font-family: 'PLight';
    text-align: center;
    color: #A4A8AC;
    margin-bottom: 64px;
}

.round_box {
    width: 1280px;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    height: 418px;
}


.round_box_two {
    width: 360px;
    padding: 28px;
    background-color: #2C4BCE;
    border-radius: 35px;
}

.round_box_h1 {
    font-size: 30px;
    font-family: 'PSemiBold';
    color: #ffffff;
    margin-bottom: -10px;
    margin-top: 20px;
}

.round_box_p {
    font-size: 18px;
    font-family: 'PRegular';
    color: #7B90EB;
    line-height: 30px;
}

.round_box_button_one svg {
    margin-right: 14px;
    transform: translateY(1px);
}

.round_box_button_one {
    color: #747C85;
    font-family: 'PRegular';
    font-size: 17px;
    padding: 17px 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 13px;
    width: 360px;
    height: 61px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    margin-left: 50%;
    transform: translate(-50%, 27px);
}

.round_box_one {
    padding: 28px;
    background-color: #F2F5F8;
    border-radius: 35px;
}



.round_box_one_h1 {
    font-size: 30px;
    font-family: 'PSemiBold';
    color: #5D636B;
    margin-bottom: -10px;
    margin-top: 20px;
}

.round_box_one_p {
    font-size: 18px;
    font-family: 'PLight';
    color: #A4A8AC;
    line-height: 30px;
}

.round_box_button svg {
    margin-right: 14px;
    transform: translateY(1px);
}

.round_box_button {
    color: #747C85;
    font-family: 'PRegular';
    font-size: 17px;
    padding: 17px 30px;
    background-color: #E7E9EC;
    border: none;
    border-radius: 13px;
    width: 360px;
    height: 61px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    margin-left: 50%;
    transform: translate(-50%, 57px);
}