@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff'),
    url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff2') format('woff2'),
         url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff'),
         url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'),
         url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff'),
         url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0;
    padding: 0;

    background-color: rgb(255, 255, 255);
    overflow-x:hidden;
    font-family: 'PSemiBold', 'PRegular', 'PLight', 'PMedium', sans-serif;
}

.main {
    height: 100vh;
    width: 80%;
    max-width: 1000px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 30px;
    outline: none;
    border: none;
    font-family: "PRegular";
    padding: 17px 40px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f0ecff;
    color: #7663e0;
    transition: color 0.1s ease,
    background-color 0.3s ease;
}

.button.discord{
    margin-right: 10px;
}

.button:hover {
    background-color: #e1e1ff;
}

.home {
    text-align: center;
}

.home_h1 {
    background: linear-gradient(45deg, #9212ec, #2c4bce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'PBold';
    font-size: 60px;
    text-align: center;
    transition: opacity 0.5s, transform 0.5s;
}

.stage {
    height: 360vh;
    scroll-behavior: smooth;
}


.information_one_section {
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2vh;
    width: 80%;
    max-width: 55vw;
    justify-content: space-between;
}

.if_stage_s {
    position: sticky;
    top: 15vh;
    height: 100vh;
}

.information_one_flex {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.if_one_box {
    border-radius: 3vh;
    padding: 5vh 5vh 0 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(2vh);
    transition: opacity 0.2s ease-out, transform 0.5s ease-out;
}

.if_one_box.visible {
    opacity: 1;
    transform: translateY(0);
}

.if_one_box.one {
    flex-grow: 1; 
    background-color: #D2EDD2;
}

.if_one_box.two {
    flex-grow: 1; 
    background-color: #EBD2ED;
}

.if_one_box.three {
    flex-grow: 1; 
    background-color: #C6E5EB;
}

.if_one_box.two, .if_one_box.three {
    display: flex; 
    flex-direction: column;
}

.box_image.one,
.box_image.two,
.box_image.three {
    align-self: flex-end;
    width: 100%;
}

.box_image.one {
    width: 50vh;
}

.box_image.two {
    width: 31vh;
}

.box_image.three {
    width: 16vh;
}

.box_one_title {
    font-size: 2.6vh;
}

.box_one_p {
    word-break: keep-all;
    margin-top: 0.8vh;
    font-size: 2vh;
    font-family: 'PRegular';
    line-height: 2.8vh;
    margin-bottom: 3vh;
}

.box_one_title.one {
    color: #567C56;
}

.box_one_p.one {
    color: #8DAC8D;
}

.box_one_title.two {
    color: #7C5675;
}

.box_one_p.two {
    color: #AC8DA9;
}

.box_one_title.three {
    color: #56717C;
}

.box_one_p.three {
    color: #819DA4;
    margin-bottom: 3vh;
}


.information_two_section {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1087px;
}



.information_two_sub_title {
    font-size: 16px;
    font-family: 'PRegular';
    color: #3485FF;
    text-align: center;

    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s ease;
}

.information_two_title {
    margin-top: 3px;
    font-size: 26px;
    font-family: 'PSemiBold';
    color: #4B4F55;
    text-align: center;
    margin-bottom: 55px;
    opacity: 0;
    transform: translateY(15px);
    transition: 0.5s ease;
    transition-delay: 0.2s;
}


.review_parent {
    opacity: 0;
    transform: translateY(15px);
    transition: 0.5s ease;
    transition-delay: 0.4s;
}

.flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.star {
    margin-bottom: 8px;
    height: 9px;
    width: auto;
}

.if_two_box {
    border-radius: 20px;
    padding: 30px;
    background-color: #f8f8f8;
    box-sizing: border-box;
}

.two_box_title {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'PSemiBold';
    color: #4B4F55;
}

.two_box_tag {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'PLight';
    color: #A0A5AB;
}

.two_box_content {
    line-height: 22px;
    font-size: 15px;
    font-family: 'PRegular';
    color: #4B4F55;
}

.gradation {
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    bottom: 0;
}

