@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff'),
    url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff2') format('woff2'),
         url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff'),
         url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'),
         url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.header { position: fixed; top: 0; left: 0; width: 100%; height: 55px; padding: 10px 5px; background: transparent; transition: background-color 0.3s ease; display: flex; justify-content: space-between; align-items: center; z-index: 100; } .header.scrolled { background-color: rgba(255, 255, 255, 0.8); backdrop-filter: blur(5px); border-color: rgb(241, 241, 241); border-width: 0 0 2px 0; border-style: solid; } .logo { fill: rgb(255, 255, 255); opacity: 0.6; margin-left: 30px; transition: opacity 0.5s, fill 0.5s; } .navbar a { font-family: 'PRegular'; font-size: 22px; color: rgb(255, 255, 255); text-decoration: none; margin-right: 55px; opacity: 0.6; transition: opacity 0.5s, color 0.5s; } .header.scrolled .navbar a { color: rgb(66, 66, 66); } .header.scrolled .logo { opacity: 1; fill: #2c4bce; } .navbar a:hover { opacity: 1; } .logo:hover { opacity: 1; }


body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x:hidden;
}


.main {
    position: relative;
    height: 105vh;
    overflow: hidden;
    background-image: url('/IMG/배경.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0 0 5vh 5vh;
}

.main::before {
    z-index: -1;
    background-image: inherit;
    filter: blur(30px);
}

.back {
    width: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    z-index: 3;
    align-items: center;

}

.h1Text {
    font-family: 'PSemiBold';
    font-size: 7vh;
    color: #ffffff;
    text-align: center;
    z-index: 20;
    position: relative;
    margin-top: 1vh;
    opacity: 0; /* 초기값 */
    top: 3vh; /* 초기 위치 */
    will-change: transform, opacity;
    /* 두 개의 애니메이션을 별도로 정의 */
    animation: 
        h1TextMove 1s cubic-bezier(.07, .73, .42, 1) 0.7s forwards,
        h1TextOpacity 1.5s ease 0.7s forwards;
}

@keyframes h1TextMove {
    0% {
        top: 3vh;
    }
    100% {
        top: 0;
    }
}

@keyframes h1TextOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.h3Text {
    font-family: 'PLight';
    font-size: 3vh;
    text-align: center;
    color: rgb(252, 252, 252);
    opacity: 50%;
    z-index: 20;
    animation: h3Text 2s;
}
@keyframes h3Text {
    0% { top: 3vh; opacity: 0%; }
    100% { top: 0; opacity: 50%; }
}




.gradient {
    z-index: 0;
}

.information_one_section {
    margin-top: 124px;
}

.if {
    width: 820px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.information_one_section_sub_title {
    font-family: 'PMedium';
    color:  #607EFF;
    font-size: 23px;
    text-align: center;
    margin-bottom: -20px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}

.information_one_section_title {
    font-family: 'PRegular';
    color:  #5F686F;
    font-size: 36px;
    text-align: center;
    margin-bottom: 135px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}

.if_o_s_o_i {
    height: 150px;
    width: 150px;
    opacity: 74%;

    transform: translate(50%, 20px);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}

.information_one_section_one {
    display: flex;
    width: 820px;
    justify-content: space-between;
}

.if_o_s_o_t {
    font-family: 'PSemiBold';
    color:  #686d70;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin-bottom: -5px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}


.if_o_s_o_s_t {
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 21px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 207px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}


.if_o_s_t_i {
    height: 130px;
    width: auto;

    transform: translate(-50%, 30px);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}

.information_one_section_two {
    display: flex;
    width: 820px;
    justify-content: space-between;
}

.if_o_s_t_t {
    font-family: 'PSemiBold';
    color:  #686d70;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin-bottom: -5px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}


.if_o_s_t_s_t {
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 21px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 207px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}




.if_o_s_th_i {
    height: 150px;
    width: 150px;
    opacity: 74%;

    transform: translate(50%, 30px);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}

.information_one_section_three {
    display: flex;
    width: 820px;
    justify-content: space-between;
}

.if_o_s_th_t {
    font-family: 'PSemiBold';
    color:  #686d70;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin-bottom: -5px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}


.if_o_s_th_s_t {
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 21px;
    text-align: left;
    line-height: 28px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
                transition-delay: 0.2s;
    opacity: 0;
}



.information_two_section {
    width: 100%;
    margin-bottom: -20px;
    background-color: #F4F6F8;

}

.information_two_section_p {
    width: 820px;
    margin-left: 50%;
    transform: translate(-50%, 124px);
}


.information_two_section_sub_title {
    font-family: 'PMedium';
    color:  #607EFF;
    font-size: 23px;
    text-align: center;
    margin-top: 124px;
    margin-bottom: -20px;


    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}

.information_two_section_title {
    font-family: 'PRegular';
    color:  #5F686F;
    font-size: 36px;
    text-align: center;
    margin-bottom: 135px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}

.if_t_s_t{
    display: flex;
    gap: 31px;
}

.if_t_s_t_o_o{
    margin-top: 1px;
    display: flex;
}


#one {
    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}

#two {
    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}

#three {
    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}

.if_t_s_o {
    margin-top: -67px;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 24px 24px 17px 24px;
    margin-bottom: 90px;
}

.if_t_s_t_img{
    height: 168px;
    width: 168px;
    border-radius: 21px;
}

.if_t_s_t_o_title{
    font-size: 22px;
    font-family: 'PSemiBold';
    color: #7D8489;
    margin-right: 15px;
    margin-bottom: -50px;
}

.tag,.star {
    font-size: 17px;
    font-family: 'PRegular';
    color: #B8BDC1;
    margin-right: 15px;
}

.sub {
    font-size: 20px;
    font-family: 'PRegular';
    color: #7D8489;
    line-height: 30px;
    margin-top: 8px;
}

.sub_p{
    margin-top: -75px;
    transform: translateX(10px);
    font-size: 15px;
    font-family: 'PLight';
    color: #D0D6DB;
    margin-bottom: 207px;
}




.information_two_section_sub_title {
    font-family: 'PMedium';
    color:  #607EFF;
    font-size: 23px;
    text-align: center;
    margin-bottom: -20px;
}

.information_two_section_title {
    font-family: 'PRegular';
    color:  #5F686F;
    font-size: 36px;
    text-align: center;
    margin-bottom: 135px;
}

.if_t_s_o_i {
    height: 164px;
    width: 164px;
    opacity: 74%;

    transform: translate(50%, 20px);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}

.information_two_section_one {
    display: flex;
    width: 820px;
    justify-content: space-between;
}

.if_t_s_o_t {
    font-family: 'PSemiBold';
    color:  #686d70;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin-bottom: -5px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}


.if_t_s_o_s_t {
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 21px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 207px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}


.if_t_s_th_i {
    height: 168px;
    width: auto;
    opacity: 74%;
    margin-bottom: 270px;

    transform: translate(-50%, 30px);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}


.if_t_s_th_t {
    font-family: 'PSemiBold';
    color:  #686d70;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin-bottom: -5px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}


.if_t_s_th_s_t {
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 21px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 207px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}



.information_three_section {
    width: 100%;
    background-color: #ffffff;

}

.information_three_section_p {
    width: 820px;
    margin-left: 50%;
    transform: translate(-50%, 124px);
}


.information_three_section_sub_title {
    font-family: 'PMedium';
    color:  #607EFF;
    font-size: 23px;
    text-align: center;
    margin-bottom: -20px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}



.information_three_section_title {
    font-family: 'PRegular';
    color:  #5F686F;
    font-size: 36px;
    text-align: center;
    margin-bottom: 135px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}

.if_th_s_o_i {
    height: 164px;
    width: 164px;
    opacity: 74%;

    transform: translate(50%, 20px);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}

.information_three_section_one {
    display: flex;
    width: 820px;
    justify-content: space-between;
}

.information_three_section_two {
    display: flex;
    width: 820px;
    justify-content: space-between;
}

.if_th_s_o_t {
    font-family: 'PSemiBold';
    color:  #686d70;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin-bottom: -5px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}


.if_th_s_o_s_t {
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 21px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 207px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}


.if_th_s_t_t {
    font-family: 'PSemiBold';
    color:  #686d70;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin-bottom: -5px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}


.if_th_s_t_s_t {
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 21px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 207px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}


.if_th_s_t_i {
    height: 168px;
    width: auto;
    opacity: 74%;

    transform: translate(-50%, 30px);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}


.information_three_section {
    width: 100%;
    background-color: #ffffff;

}

.information_three_section_p {
    width: 820px;
    margin-left: 50%;
    transform: translate(-50%, 124px);
}


.information_three_section_one {
    display: flex;
    width: 820px;
    justify-content: space-between;
}

.information_three_section_two {
    display: flex;
    width: 820px;
    justify-content: space-between;
}

.if_th_s_o_t {
    font-family: 'PSemiBold';
    color:  #686d70;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin-bottom: -5px;
}


.if_th_s_o_s_t {
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 21px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 207px;
}



.if_th_s_t_t {
    font-family: 'PSemiBold';
    color:  #686d70;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    margin-bottom: -5px;
}


.if_th_s_t_s_t {
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 21px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 207px;
}




.information_four_section {
    width: 100%;
    background-color: #F4F6F8;

}

.information_four_section_p {
    width: 820px;
    margin-left: 50%;
    transform: translate(-50%, 124px);
}


.information_four_section_sub_title {
    font-family: 'PMedium';
    color:  #607EFF;
    font-size: 23px;
    text-align: center;
    margin-bottom: -20px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}

.information_four_section_title {
    font-family: 'PRegular';
    color:  #5F686F;
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}

.information_four_section_one {
    display: block;
    width: 820px;
    justify-items: center;
    align-content: space-between;
}

.if_f_s_o_t {
    font-family: 'PSemiBold';
    color:  #6E767B;
    font-size: 25px;
    text-align: center;
    line-height: 38px;
    margin-bottom: -15px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
                transition-delay: 0.2s;
    opacity: 0;
}


.if_f_s_o_s_t {
    font-family: 'PLight';
    color:  #959EA7;
    font-size: 21px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 207px;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}


#section_one {
    transition: opacity 0.5s ease;
    opacity: 0;
}

#section_two {
    transition: opacity 0.5s ease;
    transition-delay: 0.1s;
    opacity: 0;
}

#section_three {
    transition: opacity 0.5s ease;
    transition-delay: 0.2s;
    opacity: 0;
}

#section_four {
    transition: opacity 0.5s ease;
    transition-delay: 0.3s;
    opacity: 0;
}

#section_five {
    transition: opacity 0.5s ease;
    transition-delay: 0.4s;
    opacity: 0;
}

#section_six {
    transition: opacity 0.5s ease;
    transition-delay: 0.5s;
    opacity: 0;
}

#section_seven {
    transition: opacity 0.5s ease;
    transition-delay: 0.6s;
    opacity: 0;
}

#section_eight {
    transition: opacity 0.5s ease;
    transition-delay: 0.7s;
    opacity: 0;
}


.if_f_s_o_i {
    height: 64px;
    width: 84px;
    opacity: 74%;

    transform: translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}


.if_f_s_t_t {
    font-family: 'PSemiBold';
    color:  #6E767B;
    font-size: 25px;
    text-align: center;
    line-height: 38px;
    margin-top: 200px;
    margin-bottom: -15px;

    transform:translateY(-100px);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}

.if_f_s_th_s {
    display: flex;
}





.section_image_one{
    width: 60px;
    height: auto;
    margin-top: 10px;
}

.if_f_section_p div {
    background-color: #ffffff;
    border-radius: 20px;
    width: 219px;
    padding: 15px 20px 15px 20px;
    margin-top: 100px;
    transform: translateY(-190px);
    display: block;
    justify-items: center;
    margin-bottom: 40px;
}

.if_f_s_t_s{
    transform: translateY(-140px);
}


.title_section{
    font-family: 'PSemiBold';
    color:  #6E767B;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

.p_section{
    font-family: 'PLight';
    color:  #959ca3;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    margin-top: -8px;
}

.if_f_section_p{
    display: flex;
    justify-content: space-between;
}


.if_f_section_one {
    position: relative;
    top: -70px;

    transform:translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
    opacity: 0;
}

.if_f_section_two {
    transform:translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
                transition-delay: 0.2s;
    opacity: 0;
}

.if_f_section_three {
    position: relative;
    top: -70px;

    transform:translateY(50%);
    transition: transform 1s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.5s ease;
                transition-delay: 0.4s;
    opacity: 0;
}








.information_five_section {
    width: 100%;
    background-color: #ffffff;
    border-style: solid;
    border-color: #F4F6F8;
    border-width: 0px 0px 2px 0px;
}

.information_five_section_round_three_box_image {
    width: auto;
    height: 100px;
    margin-left: 50%;
    padding-top: 90px;
    margin-bottom: -30px;
    filter: drop-shadow(10px 10px 20px rgba(83, 83, 83, 20%));

    transform: translate(-50%, 50%);
    transition: transform 0.6s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.3s ease;
    opacity: 0;
}

.information_five_section_main_title {
    text-align: center;
    font-family: 'PSemiBold';
    color: #686d70;
    font-size: 28px;
    padding-top: 20px;

}

.information_five_section_main_title .line1 {
    margin-bottom: -20px;

    transform: translateY(50%);
    transition: transform 0.6s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.3s ease;
    transition-delay: 0.1s;
    opacity: 0;
}

.information_five_section_main_title .line2 {
    margin-bottom: -5px;
    transform: translateY(50%);
    transition: transform 0.6s cubic-bezier(.07, .73, .42, 1), 
                opacity 0.3s ease;
    transition-delay: 0.2s;
    opacity: 0;
}

.input_two_section {
    margin-top: 50px;
}

.input_three_section{
    margin-top: 10px;
    margin-bottom: 70px;
}

.lastbutton button {
    color: rgb(255, 255, 255);
    font-family: 'PLight';
    font-size: 18px;
    padding: 18px 15.5px;
    background-color: #459CF3;
    border: none;
    border-radius: 12px;
    width: 280px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    margin-left: 50%;
    transform: translate(-50%, 0);
}