@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'TossFaceFontWeb';
    src: url('https://static.toss.im/tossface-font/TossFaceFontWeb.otf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimGaeulsopungB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimGaeulsopungB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



body {
    margin: 0;
    padding: 0;
    height: 100%; /* body와 html의 높이를 100%로 설정 */
    background-color: rgb(255, 255, 255);
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    padding: 1vh 0.1vh;
    background: transparent; /* 초기 상태는 투명 */
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.scrolled {
    background-color: rgba(255, 255, 255, 0.8); /* 스크롤 시 하얀 배경 */
    backdrop-filter: blur(5px); /* 블러 효과 */
}

.logo {
    font-family: 'Pretendard-Regular';
    font-size: 3vh;
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 0.6;
    margin-left: 3vh;
    transition: opacity 0.5s, color 0.5s;
}

.navbar a {
    font-family: 'Pretendard-Regular';
    font-size: 2.5vh;
    color: rgb(255, 255, 255); /* 기본은 흰색 */
    text-decoration: none;
    margin-right: 6vh;
    opacity: 0.6;
    transition: opacity 0.5s, color 0.5s;
}

/* 스크롤 시 a 요소의 스타일 변경 */
.header.scrolled .navbar a {
    color: rgb(66, 66, 66); /* 스크롤 시 글자 색상을 어두운 색으로 변경 */
}

.header.scrolled .logo {
    opacity: 1;
    color: #2c4bce; /* 스크롤 시 글자 색상을 어두운 색으로 변경 */
}




.navbar a:hover {
    opacity: 1;
}

.logo:hover {
    opacity: 1;
}





.main {
    position: relative;
    height: 100vh; /* 화면 전체 높이 */
    overflow: hidden; /* 넘치는 내용 숨김 */
    background: linear-gradient(to left top, #2c4bce, #2c72ce); /* 초기 배경 그라데이션 */

}

.back {
    width: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;    transform: translate(-50%, -50%);
    z-index: 3;
    align-items: center; /* 세로 중앙 정렬 */

}


.Main_Image {
    height: auto;
    width: 90vh;
    position: absolute;
    right: 55%;
    opacity: 0.03; /* opacity 값이 0~1 사이로 설정해야 하므로 변경 */
    align-items: center; /* 세로 중앙 정렬 */
    transform: translate(50%, -70%);
}


.h1Text {
    font-family: 'HakgyoansimGaeulsopungB';
    font-size: 9vh;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 20; /* z-index 값을 높게 설정 */
    position: relative; /* z-index가 작동하도록 상대 위치 설정 */
}

.h3Text {
    font-family: 'LeeSeoyun';
    font-size: 4vh;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 50%;
    z-index: 20; /* z-index 값을 높게 설정 */
}

.gradient {
    z-index: 0; /* 이곳에 z-index 설정 */
}









.info_1_section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}


.imageOne {
    height: auto;
    width: 40vh;
    position: absolute;
    right: 5%;

    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 0;
    opacity: 0;
    transform: translate(-30%, 20%);
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}

.imageTwo {
    height: auto;
    width: 70vh;
    border-radius: 5vh;
    box-shadow: 1vh 1vh 3vh rgb(240, 240, 240);
    opacity: 70%;
}

.if1_2_title {
    width: 130vh;
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */

    transform: translate(-50%, 120%);
    opacity: 0;
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}

.if1_1_title {
    width: 130vh;
    position: absolute;
    left: 50%;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 3;

    opacity: 0;
    transform: translate(-50%, 80%);
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}


.ifo_title_h1 {
    font-family: 'CookieRunOTF-Bold';
    font-size: 5vh;
    color: rgb(45, 46, 51);
}

.ifo_title_h3 {
    font-family: 'LeeSeoyun';
    font-size: 3vh;
    line-height: 4.5vh;
    margin-top: 2vh;
    color: rgb(128, 129, 138);
}

.ifo_title_h4 {
    font-family: 'LeeSeoyun';
    font-size: 3vh;
    line-height: 4.5vh;
    margin-left: 6vh;
    color: rgb(128, 129, 138);
}










.info_2_section {
    position: relative;
    height: 60vh;
    overflow: hidden;
    background-color: rgb(244, 245, 247);
}

.ift_Emoji {
    font-family: 'TossFaceFontWeb';
    font-size: 20vh;
    position: absolute;
    left: 24%;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 0;

    transform: translate(-80%, 10%);
    opacity: 0;
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}

.if2_2_title {
    width: 130vh;
    position: absolute;
    left: 50%;
    display: flex;
    transform: translate(-50%, 120%);
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
}

.if2_1_title {
    width: 130vh;
    position: absolute;
    left: 50%;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 3;

    transform: translate(-50%, 80%);
    opacity: 0;
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}


.ift_title_h1 {
    font-family: 'CookieRunOTF-Bold';
    font-size: 5vh;
    color: rgb(45, 46, 51);
    text-align: right;
}

.ift_title_h3 {
    font-family: 'LeeSeoyun';
    font-size: 3vh;
    line-height: 4.5vh;
    margin-top: 2vh;
    color: rgb(128, 129, 138);
    text-align: right;
}

.ift_title_h4 {
    font-family: 'LeeSeoyun';
    font-size: 3vh;
    line-height: 4.5vh;
    margin-left: 6vh;
    color: rgb(128, 129, 138);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.if2_logos::before,
.if2_logos::after {
    position: absolute;
    top: 0;
    width: 30vh;
    height: 100%;
    content: "";
    z-index: 2;
}

.if2_logos::before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(243, 245, 247));
}

.if2_logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(243, 245, 247));
}


.if2_logos {
    width: 100%;
    overflow: hidden;
    white-space:nowrap;
    margin-left: 50%;
    transform: translate(-50%, 550%);
}

.if2_logos-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
}

.if2_logos-slide img {
    height: 7vh;
    margin: 0 8vh;
    opacity: 50%;
}








.info_3_section {
    position: relative;
    height: 110vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.imageThree {
    height: auto;
    width: 30vh;
    position: absolute;
    right: 5%;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 0;

    opacity: 0;
    transform: translate(-20%, 15%);
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}

.imageFour {
    height: auto;
    width: 32vh;
    border-radius: 6vh;
    box-shadow: 1.5vh 1.5vh 3vh rgb(216, 216, 216);
    transform: translateY(-30%);
    opacity: 70%;
}

.imageFive {
    height: 38vh;
    width: 32vh;
    border-radius: 2vh;
    box-shadow: 1.5vh 1.5vh 3vh rgb(216, 216, 216);
    transform: translateY(15%);
    opacity: 70%;
}


.if3_2_title {
    width: 130vh;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;

    opacity: 0;
    transform: translate(-50%, 110%);
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}

.if3_2_title img {
    margin-right: 4vh;
}

.if3_1_title {
    width: 130vh;
    position: absolute;
    left: 50%;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 3;


    transform: translate(-50%, 80%);
    opacity: 0;
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}


.ifth_title_h1 {
    font-family: 'CookieRunOTF-Bold';
    font-size: 5vh;
    color: rgb(45, 46, 51);
    text-align: left;
}

.ifth_title_h3 {
    font-family: 'LeeSeoyun';
    font-size: 3vh;
    line-height: 4.5vh;
    margin-top: 2vh;
    color: rgb(128, 129, 138);
    text-align: left;
}








.info_4_section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(244, 245, 247);
}

.imageSix {
    height: auto;
    width: 30vh;
    position: absolute;
    right: 5%;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 0;
    transform: translate(-20%, 15%);
}

.iff_Emoji {
    font-family: 'TossFaceFontWeb';
    font-size: 25vh;
    position: absolute;
    left: 24%;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 0;
    opacity: 0;
    transform: translate(-80%, 20%);
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}


.if4_2_title {
    width: 130vh;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: space-between;
}

.if4_2_title img {
    margin-right: 4vh;
}
.if4_1_title {
    width: 130vh;
    position: absolute;
    left: 50%;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 3;

    opacity: 0;
    transform: translate(-50%, 80%);
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}


.iff_title_h1 {
    font-family: 'CookieRunOTF-Bold';
    font-size: 5vh;
    color: rgb(45, 46, 51);
    text-align: right;
}

.iff_title_h3 {
    font-family: 'LeeSeoyun';
    font-size: 3vh;
    line-height: 4.5vh;
    margin-top: 2vh;
    color: rgb(128, 129, 138);
    text-align: right;
}

.iff_title_h4 {
    font-family: 'LeeSeoyun';
    font-size: 3vh;
    line-height: 4.5vh;
    width: 40.5vh;
    color: #c7ccd3;
    transform: translate(425%, 310%);
}


.if4_3_all_container {
    display:flex;
    justify-content: space-between;
    width: 130vh;
    margin-left: 50%;

    opacity: 0;
    transform: translate(-50%, 160%);
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */

    
}

.if4_4_title {
    display: flex;
    align-items: center;
    height: 35vh;
    width: 55.5vh;
    border-radius: 3vh;
    background-color: #313338;
}


.if4_4_container {
    align-items: center;
    border-radius: 3vh;
    margin-left: 50%;
    display: inline-block;
    align-content: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.if4_3_container {
    align-items: center;
    border-radius: 3vh;
    margin-left: 50%;
    display: inline-block;
    align-content: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.if4_One_Section {
    font-family: 'TossFaceFontWeb';
    font-size: 15vh;
    text-align: center;
    opacity: 50%;
    margin-top: -2vh;
}

.if4_Title_Section {
    font-family: 'CookieRun-Regular';
    font-size: 3.3vh;
    align-items: center;
    width: 30vh;
    text-align: center;
    line-height: 4.5vh;
    border-radius: 2vh;
    color: #1b6fb4;
}

.if4_H4_Section {
    font-family: 'LeeSeoyun';
    font-size: 2.5vh;
    align-items: center;
    width: 30vh;
    text-align: center;
    margin-top: 1vh;
    line-height: 3.2vh;
    border-radius: 2vh;
    color: #a1a5a8;
}

.if4_3_title {
    display: flex;
    align-items: center;
    height: 35vh;
    width: 40vh;
    border-radius: 3vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 1vh 1vh 2vh rgb(240, 240, 240);
}


.if4_Two_Section {
    font-family: 'Pretendard-Regular';
    font-size: 2.3vh;
    display: flex;
    align-items: center;
    line-height: 4.5vh;
    height: 7vh;
    width: 45.5vh;
    padding-left: 2vh;
    border-radius: 2vh;
    color: #7d8388;
    background-color: rgb(255, 255, 255);
}


.if4_Title_Two_Section {
    font-family: 'LeeSeoyun';
    font-size: 2.5vh;
    align-items: center;
    line-height: 4.5vh;
    border-radius: 2vh;
    color: #1f7bd6;
}






.info_5_section {
    position: relative;
    height: 50vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}


.if5_1_title {
    width: 130vh;
    position: absolute;
    left: 50%;
    align-items: center; /* 세로 중앙 정렬 */
    padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    z-index: 3;

    opacity: 1;
    transform:translate(-50%, 40%);
    transition: 0.7s ease; /* 페이드 애니메이션 설정 */
}


.iffi_title_h1 {
    font-family: 'CookieRunOTF-Bold';
    font-size: 5vh;
    color: rgb(45, 46, 51);
    text-align: center;
}

.iffi_title_h3 {
    font-family: 'LeeSeoyun';
    font-size: 3vh;
    line-height: 4.5vh;
    margin-top: 2vh;
    color: rgb(128, 129, 138);
    text-align: center;
}



.lastButton button{
    color: rgb(59, 44, 44);
    font-family: 'Pretendard-Regular';
    font-size: 2vh;
    padding: 1.6vh 7vh;
    font-weight: 200;
    border: 0.2vh solid #c4c4c4;
    background: none;
    border-radius: 2vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.lastButton {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Pretendard-Regular';
    font-size: 2vh;
    left: 50%;
    top: 30vh;
    opacity: 1;
    transform: translateX(-50%);
}

.lastButton button:hover {
    background-color: rgb(248, 248, 248);
}

.discordButton svg {
    height: auto;
    width: 3vh;
    fill: #a0a7b4;
    margin-bottom: -0.5vh;
}

.toonationButton img {
    height: auto;
    width: 3vh;
    margin-bottom: 0.2vh;
}

@media (max-width: 600px) {
    .main{
        height: 100vh;
        padding: 1rem;
    }

    .info_1_section {
        height: 55vh;
        padding: 1rem;
    }

    .info_2_section {
        height: 55vh;
        padding: 1rem;
    }

    .info_5_section{
        height: 65vh;
        padding: 1rem;
    }

    .info_3_section {
        height: 78vh;
        padding: 1rem;
    }

    .info_4_section {
        height: 190vh;
        padding: 1rem;
    }

    .back {
        position: absolute;
        top: 45%;
        width: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline;
        padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
    }

    .home {
        width: 85%;
        margin-left: 50%;
        transform: translate(-50%, 80%);
    }


    .h1Text {
        text-align: center;
        font-size: 6vh;
    }

    .h3Text {
        text-align: center;
        font-size: 2.5vh;
    }


    .if1_1_title {
        width: 80%;

    }

    .imageOne {
        width: 80%;
        height: auto;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, 80%);
    }

    .imageTwo {
        display: none;
    }

    .if1_2_title {
        display: none;
    }

    .if2_1_title {
        width: 80%;
        position: absolute;
        left: 50%;
        align-items: center; /* 세로 중앙 정렬 */
        padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
        z-index: 3;
    
        transform: translate(-50%, 80%);
        opacity: 0;
        transition: 0.7s ease; /* 페이드 애니메이션 설정 */
    }
    
    .ifo_title_h1 {
        text-align: center;
    }

    .ifo_title_h3 {
        text-align: center;
    }

    .ift_title_h1 {
        text-align: center;
    }

    .ift_title_h3 {
        text-align: center;
    }

    .ift_Emoji {
        width: 80%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, 80%);
    }

    .if3_1_title {
        width: 80%;
        position: absolute;
        left: 50%;
        align-items: center; /* 세로 중앙 정렬 */
        padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
        z-index: 3;
    
        transform: translate(-50%, 80%);
        opacity: 0;
        transition: 0.7s ease; /* 페이드 애니메이션 설정 */
    }

    .ifth_title_h1 {
        text-align: center;
    }

    .ifth_title_h3 {
        text-align: center;
    }

    .imageThree {
        width: 80%;
        height: auto;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, 80%);
    }

    .if3_2_title {
        display: none;
    }

    .if4_1_title {
        width: 80%;
        position: absolute;
        left: 50%;
        align-items: center; /* 세로 중앙 정렬 */
        padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
        z-index: 3;
    
        transform: translate(-50%, 80%);
        opacity: 0;
        transition: 0.7s ease; /* 페이드 애니메이션 설정 */
    }

    .iff_title_h1 {
        text-align: center;
    }
    .iff_title_h3 {
        text-align: center;
    }

    .iff_Emoji {
        width: 80%;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
        margin-top: 40%;
    }

    .if4_3_all_container {
        width: 80%;
        height: 50%;
        display: flex; /* Flexbox 사용 */
        flex-wrap: wrap; /* 자식 요소들을 여러 줄로 감싸기 */
        gap: 20px; /* 자식 요소들 사이의 간격 설정 */
        align-content: space-between; /* 여러 줄의 정렬 방식 설정 */
        margin-top: -80%;
    }


    .if5_1_title {
        margin-top: -20%;
        width: 80%;
        position: absolute;
        align-items: center; /* 세로 중앙 정렬 */
        padding: 0 5vh; /* 양 끝에 약간의 여백 추가 */
        z-index: 3;
    }

    .lastButton {
        margin-top: 30%;
    }
    
    
}