<!DOCTYPE html>
<html lang="en">
    <head>
        <title>본인인증 | shmpyoshop</title>
        <link rel="stylesheet" href="/public/verify/fast-verify.css"/>
    
    
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="간편하게, 똑똑하게! 손쉽게 완성하는 나를 위한 시스템을 쉼표샵에서 만나보세요.">
        <meta name="robots" content="max-image-preview:large">
        <link href="/IMG/파비콘.svg" rel="shortcut icon" type="image/x-icon">
        <link rel="icon" href="/IMG/파비콘.svg" type="image/x-icon">
        <link rel="canonical" href="https://www.shmpyoshop.com/home">
        <meta property="og:locale" content="ko_KR">
        <meta property="og:site_name" content="쉼표샵 shmpyo#">
        <meta property="og:type" content="website">
        <meta property="og:title" content="쉼표샵 - 공식 홈페이지">
        <meta property="og:description" content="간편하게, 똑똑하게! 손쉽게 완성하는 나를 위한 시스템을 쉼표샵에서 만나보세요.">
        <meta property="og:url" content="https://www.shmpyoshop.com/home">
        <meta property="og:image" content="https://media.discordapp.net/attachments/1282189604803444830/1342507726852587580/7d134f0e74b599b0.png?ex=67b9e340&is=67b891c0&hm=6904e632e03d87dbba50a57a111c489a7739896954bfe1a0694361aa5689c343&=&format=webp&quality=lossless">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
        <meta property="og:image:alt" content="쉼표샵 로고">    
    
        <meta name="twitter:site" content="https://www.shmpyoshop.com/home">
        <meta name="twitter:title" content="쉼표샵 - 공식 홈페이지">
        <meta name="twitter:description" content="간편하게, 똑똑하게! 손쉽게 완성하는 나를 위한 시스템을 쉼표샵에서 만나보세요.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image:src" content="https://media.discordapp.net/attachments/1282189604803444830/1342507726852587580/7d134f0e74b599b0.png?ex=67b9e340&is=67b891c0&hm=6904e632e03d87dbba50a57a111c489a7739896954bfe1a0694361aa5689c343&=&format=webp&quality=lossless">
    
    </head>
<body>

    <div class="info_1_main">
        <div class="info_1_section">
            <img src="/IMG/핏클 파랑.png" class="Main_Image">

            <p class="ifo_title_h1">빠른 인증이 완료됐어요</p>
            <div class="pp" id="p">[이름]님의 상담 진행을 위한 인증이 완료되었습니다.<br>쉼표샵 디스코드 고객센터로 돌아가 상담을 진행해 주세요.</div>
        </div>
    </div>

    <script>
        const username = "<%= username %>";
        document.getElementById("p").innerText = `${username}님의 상담 진행을 위한 인증이 완료되었습니다.\n쉼표샵 디스코드 고객센터로 돌아가 상담을 계속 진행해 주세요.`;
    </script>
</body>
</html>
