@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
}

.info_1_section {
    height: 700px;
    width: 70%;
    max-width: 1000px;
    margin-left: 50%;
    transform: translate(-50%, 10px);
}

.find_item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(110px);
}

.ifo_title_h1 {
    font-size:37px;
    font-family: 'PSemiBold';
    text-align: left;
    color: #525764;
}

.search {
    height: 50px;
    width: 410px;
    border: none;
    border-bottom: 2px solid #CAD2D5;
    padding-bottom: -15px;
    outline: none;

    font-size:20px;
    font-family: 'PRegular';
    color: #8b8f91;
}

.search::placeholder {
    color: #CAD2D5;
}


.search_button {
    border: none;
    background: none;
    cursor: pointer;
    transform: translateY(10px);
}


.line {
    width: 70%;
    max-width: 1000px;
    margin-left: 50%;
    transform: translate(-50%, -450px);

    border: none;
    border-bottom: 2px solid #F1F1F1;
    padding-bottom: -15px;
    outline: none;
}

.product_item {
    display:flex;
    flex-wrap: wrap;
    gap: 74.6px;
    width: 70%;
    max-width: 1000px;
    margin-left: 50%;
    transform: translate(-50%, -380px);
    overflow: hidden;
}

.product_item button {
    border: none;
    background: none;
    cursor: pointer;
}

.flex_tag {
    display: flex;
    position: absolute;
    padding: 13px;
    gap: 5px;
}

.product_discount {
    width: auto;
    height: 22px;
}

.product_tag {
    width: auto;
    height: 22px;
}

.product_image {
    width: auto;
    height: 222px;
    border-radius: 18px;
}

.product_title {
    padding-top: 8px;
    text-align: left;
    font-size: 22px;
    font-family: "PMedium";
    color: #5b5f63;
}

.product_price {
    padding-top: 5px;
    text-align: left;
    font-size: 17px;
    font-family: "PRegular";
    color: #AAB2BC;
}


@media screen and (max-width: 1100px) {
    
    html,body {
        overflow-x: hidden;
    }
    * {
        box-sizing: border-box;
    }

    .find_item {
        width: 100%;
        display: inline-block;
        justify-content: end;
        margin-top: 100px;
        transform: translateY(0);
    }

    .info_1_section {
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .line {
        display: none;
    }

    .ifo_title_h1 {
        font-size:30px;
    }


    .product_item {
        margin-top: -35px;
        display:flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 12px;
        width: 80%;
        overflow: hidden;
    }

    .find_shmpyoshop_product_item {
        margin-top: -20px;
        display: flex;
        width: 100%;
    }

    .search {
        width: 100%;
        height: 50px;
        border: none;
        border-bottom: 1px solid #CAD2D5;
        outline: none;
    
        font-size:16.75px;
        font-family: 'PLight';
        color: #8b8f91;
    }

    .search_button {
        display: none;
    }

    .product_title {
        font-size: 17.75px;
    }

    .product_price {
        font-family: "PLight";
        font-size: 14.75px;
    }




    .product_image {
        width: auto;
        height: 145px;
        border-radius: 10px;
    }

    .product_discount {
        width: auto;
        height: 15px;
    }
    
    .product_tag {
        width: auto;
        height: 15px;
    }
}