@font-face {
    font-family: 'TossFaceFontWeb';
    src: url('https://static.toss.im/tossface-font/TossFaceFontWeb.otf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PSemibold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.header { position: fixed; top: 0; left: 0; width: 100%; height: 55px; padding: 10px 5px; background: transparent; transition: background-color 0.3s ease; display: flex; justify-content: space-between; align-items: center; z-index: 100; } .header.scrolled { background-color: rgba(255, 255, 255, 0.8); backdrop-filter: blur(5px); border-color: rgb(241, 241, 241); border-width: 0 0 2px 0; border-style: solid; } .logo { font-family: 'PRegular'; font-size: 25px; color: rgb(66, 66, 66); text-decoration: none; opacity: 0.6; margin-left: 30px; transition: opacity 0.5s, color 0.5s; } .navbar a { font-family: 'PRegular'; font-size: 22px; color: rgb(66, 66, 66); text-decoration: none; margin-right: 55px; opacity: 0.6; transition: opacity 0.5s, color 0.5s; } .header.scrolled .navbar a { color: rgb(66, 66, 66); } .header.scrolled .logo { opacity: 1; color: #2c4bce; } .navbar a:hover { opacity: 1; } .logo:hover { opacity: 1; } .footer_design_shmpyo { margin-top: auto; font-family: 'PLight'; color: rgb(170, 173, 177); height: 250px; font-size: 17px; background-color: #ffffff; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } .footer_design_shmpyo_div { width: 1300px; margin-left: 50%; display: flex; gap: 90px; transform: translate(-50%, 20%); line-height: 30px; } .footer_design_shmpyo_logo { opacity: 80%; margin-bottom: 10px; height: 40px; width: auto; }



.info_1_section {
    height: 2200px;
    width: 1000px;
    margin-left: 50%;
    transform: translate(-50%, 10px);
    animation: List 2s;
}

.ifo_title_h1 {
    font-family: 'PBold';
    font-size: 50px;
    color: #525764;
    transform: translateY(150px);
    text-align: center;
    animation: MainText 1s;
}

@keyframes MainText {
    0% { transform: translateY(200px); opacity: 0%; }
    100% { transform: translateY(150px); opacity: 100%; }
}

@keyframes List {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

.discord_provision {
    font-family: 'PSemiBold';
    font-size: 25px;
    color: #525764;
    text-align: left;
    transform: translateY(200px);
}

.discord_provision_list {
    margin-left: 50px;
    list-style-type: decimal;
    padding-left: 0;
    transform: translateY(220px);
}

.discord_provision_list li {
    font-family: 'PLight';
    font-size: 20px;
    text-align: left;
    list-style:decimal;
    color: #525764;
    margin-bottom: 50px;
}

.system_provision {
    font-family: 'PSemiBold';
    font-size: 25px;
    color: #525764;
    text-align: left;
    transform: translateY(300px);
}

.system_provision_list {
    margin-left: 50px;
    list-style-type: decimal;
    padding-left: 0;
    transform: translateY(320px);
}

.system_provision_list li {
    font-family: 'PLight';
    font-size: 20px;
    text-align: left;
    list-style:decimal;
    color: #525764;
    margin-bottom: 50px;
}

.system_provision_list a {
    color: #2c4bce;
    text-decoration: none;
}

.order_text_1_section {
    font-family: 'PLight';
    font-size: 20px;
    text-align: center;
    color: #bbbfc7;
    margin-top: 120px;
}