body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.info_1_section {
    height: 2200px;
    width: 1000px;
    margin-left: 50%;
    transform: translate(-50%, 10px);
    animation: List 2s;
}

.ifo_title_h1 {
    font-family: 'PBold';
    font-size: 50px;
    color: #525764;
    transform: translateY(150px);
    text-align: center;
    animation: MainText 1s;
}

@keyframes MainText {
    0% { transform: translateY(200px); opacity: 0%; }
    100% { transform: translateY(150px); opacity: 100%; }
}

@keyframes List {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

.discord_provision {
    font-family: 'PSemiBold';
    font-size: 25px;
    color: #525764;
    text-align: left;
    transform: translateY(200px);
}

.discord_provision_list {
    margin-left: 50px;
    list-style-type: decimal;
    padding-left: 0;
    transform: translateY(220px);
}

.discord_provision_list li {
    font-family: 'PRegular';
    font-size: 20px;
    text-align: left;
    list-style:decimal;
    color: #525764;
    margin-bottom: 50px;
}

.system_provision {
    font-family: 'PSemiBold';
    font-size: 25px;
    color: #525764;
    text-align: left;
    transform: translateY(300px);
}

.system_provision_list {
    margin-left: 50px;
    list-style-type: decimal;
    padding-left: 0;
    transform: translateY(320px);
}

.system_provision_list li {
    font-family: 'PRegular';
    font-size: 20px;
    text-align: left;
    list-style:decimal;
    color: #525764;
    margin-bottom: 50px;
}

.system_provision_list a {
    color: #2c4bce;
    text-decoration: none;
}

.order_text_1_section {
    font-family: 'PRegular';
    font-size: 20px;
    text-align: center;
    color: #bbbfc7;
    margin-top: 120px;
}