@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.header { position: fixed; top: 0; left: 0; width: 100%; height: 55px; padding: 10px 5px; background: transparent; transition: background-color 0.3s ease; display: flex; justify-content: space-between; align-items: center; z-index: 100; } .header.scrolled { background-color: rgba(255, 255, 255, 0.8); backdrop-filter: blur(5px); border-color: rgb(241, 241, 241); border-width: 0 0 2px 0; border-style: solid; } .logo { font-family: 'PSemiBold'; font-size: 25px; color: rgb(66, 66, 66); text-decoration: none; opacity: 0.6; margin-left: 30px; transition: opacity 0.5s, color 0.5s; } .navbar a { font-family: 'PSemiBold'; font-size: 22px; color: rgb(66, 66, 66); text-decoration: none; margin-right: 55px; opacity: 0.6; transition: opacity 0.5s, color 0.5s; } .header.scrolled .navbar a { color: rgb(66, 66, 66); } .header.scrolled .logo { opacity: 1; color: #2c4bce; } .navbar a:hover { opacity: 1; } .logo:hover { opacity: 1; } .footer_design_shmpyo { margin: 0; font-family: 'PLight'; color: rgb(170, 173, 177); height: 250px; font-size: 17px; background-color: #ffffff; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } .footer_design_shmpyo_div { width: 1300px; margin-left: 50%; display: flex; gap: 90px; transform: translate(-50%, 20%); line-height: 30px; } .footer_design_shmpyo_logo { opacity: 80%; margin-bottom: 10px; height: 40px; width: auto; }


body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Main container styling */
.info_1_main {
    height: 1100px;
}


.info_1_section {
    height: 500px;
    width: 500px;
    margin-top: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.ifo_title_h1 {
    margin-top: -50px;
    transform: translateY(15px);
    font-family: 'PBold';
    font-size: 40px;
    color: #525764;
    text-align: center;
}
.sub_title {
    font-family: 'PMedium';
    font-size: 18px;
    color: #71737a;
    text-align: left;
    margin-bottom: 15px;
}

.lastinput {
    position: absolute;
    color: rgb(114, 114, 114);
    font-family: 'Pretendard-Regular';
    left: 50%;
    top: 105px;
    opacity: 1;
    transform: translateX(-50%);
}

.lastinput input, 
.phone-verification input {
    color: rgb(107, 108, 119);
    font-family: 'PMedium';
    outline: none;
    font-size: 17px;
    padding: 17px 20px;

    border-radius: 15px;
    background-color:transparent;
    border-color: #ced0dd;
    border-width:1px;
    border-style: solid;


    cursor: text;
    transition: background-color 0.3s ease;
    text-align: left;
    width: 450px; /* 너비를 맞추기 위해 100%로 설정 */
    box-sizing: border-box; /* 패딩 포함 너비 */
    margin-bottom: 5px; /* 입력 칸 간격 */
}

.phone-verification input {
    width: 310px;
}

.phone-verifyNumber input {
    width: 310px;
}


.secretcode_input input {
    width: 310px;
}

.secretcode_input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone-verification {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone-verifyNumber {
    display: flex;
    align-items: center;
    gap: 10px;
}

.verify_button {
    font-family: 'PMedium';
    font-size: 18px;
    padding: 17px 20px;
    color: #ffffff;
    background-color: #2c4bce;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 130px; /* 버튼 너비 고정 */
    margin-bottom: 5px; /* 입력 칸과 동일한 간격 */
    transition: 0.5s ease-out;
}

.lastbutton button {
    color: rgb(255, 255, 255);
    font-family: 'PSemiBold';
    font-size: 20px;
    padding: 20px 30px;
    background-color: #2c4bce;
    border: none;
    border-radius: 15px;
    width: 450px; /* 너비를 맞추기 위해 100%로 설정 */
    cursor: pointer;
    transition: background-color 0.3s ease;

    margin-left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);
}

.lastinput input::placeholder {
    color: rgb(202, 205, 209);
}


.verify_button:hover {
    background-color: #2943b3;
}

.input_two_section:hover {
    background-color: #2943b3;
}

.info_last_list {
    margin-top: 650px;
    width: 440px; 
    list-style-type: disc;
    line-height: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.info_1_check_list li {
    font-family: 'PRegular';
    color: #a8aaaf;
    text-align: left;
    font-size: 15px;
}

.info_1_check_list li a {
    color: #5888ff;
    text-decoration: none;
    font-family: 'PSemibold';
}