@font-face {
    font-family: 'TossFaceFontWeb';
    src: url('https://static.toss.im/tossface-font/TossFaceFontWeb.otf') format('truetype');
    font-weight: 500;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimGaeulsopungB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimGaeulsopungB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e8e8ec;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    padding: 1vh 0.1vh;
    background: transparent;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}

.logo {
    font-family: 'Pretendard-Regular';
    font-size: 3vh;
    color: rgb(39, 39, 39);
    text-decoration: none;
    opacity: 0.6;
    margin-left: 3vh;
    transition: opacity 0.5s, color 0.5s;
}

.navbar a {
    font-family: 'Pretendard-Regular';
    font-size: 2.5vh;
    color: rgb(66, 66, 66);
    text-decoration: none;
    margin-right: 6vh;
    opacity: 0.6;
    transition: opacity 0.5s, color 0.5s;
}

.header.scrolled .navbar a {
    color: rgb(66, 66, 66);
}

.header.scrolled .logo {
    opacity: 1;
    color: #2c4bce;
}

.navbar a:hover {
    opacity: 1;
}

.logo:hover {
    opacity: 1;
}

body {
    height: 90vh;
}

.info_1_section {
    margin-top: 35vh;
    margin-left: 50%;
    transform: translateX(-50%);
}

.ifo_title_h1 {
    margin-top: 6.5vh;
    font-family: 'NanumSquare';
    font-size: 4vh;
    font-weight: 1000;
    text-align: center;
    color: #2b2b2b;
}

.ifo_title_p {
    font-size: 3.2vh;
    margin-top: -1vh;
    font-family: 'NanumSquare';
    font-weight: 500;
    text-align: center;
    color: #aaacb1;
}