@font-face {
    font-family: 'PLight';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PSemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PMedium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PRegular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
}

.info_1_main {
    height: 1300px;
}


.info_1_section {
    height: 1000px;
    width: 404px;
    margin-top: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.ifo_title_h1 {
    margin-top: -50px;
    transform: translateY(35px);
    font-family: 'PSemiBold';
    font-size: 30px;
    color: #525764;
    text-align: left;
}
.sub_title {
    font-family: 'PRegular';
    font-size: 18px;
    color: #9da3aa;
    text-align: left;
    margin-bottom: 15px;
}

.error {
    font-family: 'PRegular';
    font-size: 15px;
    text-align: left;
    transform: translateY(-20px);
}

.lastinput {
    position: absolute;
    color: rgb(114, 114, 114);
    font-family: 'Pretendard-Regular';
    left: 50%;
    top: 135px;
    opacity: 1;
    transform: translateX(-50%);
}

.lastinput input {
    color: rgb(107, 108, 119);
    font-family: 'PMedium';
    outline: none;
    font-size: 17px;
    padding: 17px 20px;

    border-radius: 12px;
    background-color:transparent;
    border-color: #ECECEC;
    border-width:2px;
    border-style: solid;


    cursor: text;
    transition: background-color 0.3s ease;
    text-align: left;
    width: 404px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

#verify_code {
    margin-bottom: 45px;
}

.lastbutton button {
    color: rgb(255, 255, 255);
    font-family: 'PRegular';
    font-size: 18px;
    padding: 15px 17px;
    background-color: #5c8af5;
    border: none;
    border-radius: 12px;
    width: 134px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    margin-top: 200px;
}

.lastinput input::placeholder {
    color: rgb(202, 205, 209);
}

.input_two_section:hover {
    background-color: #4b7ae7;
}



@media (max-width: 900px) {
    .info_1_section {
        width: 280px;
        margin-top: 130px;
    }

    .lastinput input {
        width: 280px;
    }

    .ifo_title_h1 {
        font-family: 'PMedium';
        margin-bottom: 50px;
    }
    
}